#header-img{
  width:300px;
  height: 200px;

}

header{
  width: 150px;
  display: flex;
  align-items: center;
}

ul{
  justify-content: space-around;
  display: flex;

}

#DS_section{

  background-image: url("https://4.bp.blogspot.com/-damBI8mnXBc/W_oU9ldorXI/AAAAAAAACO4/NPUVr1JWQlUNr5Jyj8Gh2OJWDZr60gnpwCLcBGAs/s1600/data-structure.jpg");
}
