body{
  background-color:#eef0ef
}

#header-img{
  width:300px;
  height: 200px;
  align-items: center;


}

header{
  position: fixed;
  width: auto;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}

ol{
  list-style: none;
  justify-content: space-around;
  display: flex;



}

h1{
text-align:center;
color: #e07b39
 }



.nav-link{
  color: #e07b39
}
#DS_section{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;


}

#Algo_section{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;

}
#Contact_section{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.videoLP{
  display: flex;
  justify-content: center;
}

#formLP
{
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#form{
  text-align: center;
  margin-bottom: 8px;
}
